body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f0f0f;
  color: #ffffff;
}

.projects-section {
  max-width: 1100px;
  margin: auto;
  padding: 80px 20px;
  text-align: center;
}

.projects-section h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.intro {
  color: #bdbdbd;
  max-width: 600px;
  margin: 0 auto 50px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.project-card {
  background: #161616;
  padding: 25px;
  border-radius: 12px;
  text-align: left;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card h3 {
  margin-top: 0;
}

.project-card ul {
  padding-left: 18px;
}

.project-card li {
  margin-bottom: 8px;
}

.badge {
  display: inline-block;
  margin-top: 15px;
  padding: 6px 12px;
  background: #2a2a2a;
  border-radius: 20px;
  font-size: 13px;
  color: #aaa;
}

.cta {
  margin-top: 50px;
  color: #ccc;
}

.cta a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
@media (max-width: 768px) {
  .hero-text{
    text-align: center;
  }
 
  }
.project-card{
  margin-bottom: 20px;
}
html {
  scroll-behavior: smooth;
}
