 body {
  font-family: 'Segoe UI', sans-serif;
  color: #e9ecef;
}
.navbar .nav-link.active {
  font-weight: 700;
}

.hero-section {
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
  padding: 80px 0;
}

.profile-img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 50%;
  border: 6px solid #0d6efd;
}

.hero-section {
  background-image: url("ka.jpg"); /* your background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
  position: relative;
}

/* Services */
.services-section {
  background-color: #1a1f2b;
  padding: 80px 0;
}

.card{
   background-color:#1f2937;
    color:#e6e6e6;
}

.service-card {
  padding: 30px;
  border: none;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(249, 248, 248, 0.08);
  transition: transform 0.3s;
}

.service-card:hover {
  transform: translateY(-10px);
}


/* Footer */
.footer {
  background-color: #0b0f14;
  color:#cbd5e1;
  text-align: center;
  padding: 20px;
}

/* DARK OVERLAY */
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}
/* KEEP CONTENT ABOVE OVERLAY */
.hero-section .container {
  position: relative;
  z-index: 2;
}

@media (max-width: 768px) {
  .hero-text{
    text-align: center;
  }
 
  }
.project-card{
  margin-bottom: 20px;
}
html {
  scroll-behavior: smooth;
}
